@CHARSET "UTF-8";

* {margin: 0px; padding: 0px;}
#header{
	width: 100%;
	height: 80px;
	background: #f54d2a;
	box-shadow: 0px 4px 6px gray;

}

#navbar{
	width: 1300px;
	height: 80px;

	float: right;
}

#navbar > li {
	width: 200px;
	list-style: none;
	float: left;
	padding-right: 0px;
	margin-right: 0px;
	overflow:hidden;
}

#navbar li ul > li {
	width: 275px;
}

#navbar li ul li a:hover {
	opacity: 0.5;
}

#navbar > li:hover {
	opacity: 0.9;
}

#navbar li ul {
	display: none;
	position: absolute;
	width: 236px;
	padding-right: 40px;

}

#navbar li:hover > ul{
	display: block;
	background-color: #f54d2a;
}

#navbar li ul li a:hover{
	opacity: 0.5;
}

ul, li {
	list-style: none;
}



#navbar li a {
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}

#navbart li a{
	display: block;
	color: white;
	line-height: 50px;
	text-align: left;
	font-family: verdana;
	font-size: 15px;
	text-decoration: none;
	border-top:1px solid white;
} 


#logo img{
	width: 200px;
	height: 80px;
	float: left;
}

	#navbar > li {
		width: 200px;
		list-style: none;
		float: left;
		border-right:  1px solid gray;
	}

	li a {
		display: block;
		color: white;
		line-height: 80px;
		text-align: center;
		font-family: cursive;
		font-size: 20px;
		text-decoration: none;
	}

	#logo > img{
		width: 200px;
		height: 80px;
		float: left;
	}

/* BODY */

body{
	min-height: 1500px;
	background-color: #f54d2a;
	display:inline-block;
}

h1{
	margin-top: 10px;
	margin-left: 10px;
	color: white;
}

figure{
	width:200px;
	height:200px;
	text-align:center;
	float:left;
	border:1px solid black;
	background-color:white;
	overflow:hidden;
	border: 2px solid black;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 80px;
    margin-left: 80px;
}
figure img{
  height:80%;
}

#footer{
	clear:both;
	color: white;
}